/*Colours*/
$advanced-margin: 20px;

.navbar{
    list-style-type: none;
    // display: inline-block;
    text-align: right;
    display: block;
    text-decoration: none;
    color:black;
}

.navbar > li {
    display: inline-block;
    margin-right: 10px;
}

.navbar >li > a{
    text-decoration: none; /*help to remove underline*/
}

.search-container {
    text-align: center;
    margin-top:150px;
}

.searchbar{
    border-radius: 10px;
    // display: block;
	margin: 7px;
	padding: 7px;
	width: 500px;
}

#nav {
    text-decoration: none;
    font-size: 20px;
    padding: 7px;
    color: black;
}

h2{
    color: #eb4034;
    font-weight: normal;
    margin: $advanced-margin;
    padding-bottom: 10px;
    padding-top: 25px;
}

hr{
    background-color:#FAFAFA
}
h4{
    font-weight: normal;
    padding-top: 25px;
    margin: $advanced-margin;
}
.search-container-advanced{
    text-align: left;
    margin: $advanced-margin;
}